<h1>List of all reviews</h1>

<% # list all reviews %>
<ul>
  <% @reviews.each do |review| %>
    <p>Details: <%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
  <% end %>
</ul>
<%= link_to "create a review", new_restaurant_review_path %>
